* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(7, 24, 42);
  height: 100vh;
}
.box {
  width: 500px;
  background-color: #333;
  text-align: center;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
}
.box .username,
.box .password {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #1338be;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 30px;
}
.box h1 {
  color: white;
  font-weight: 600px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.box .sub {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 15px 45px;
  border: 2px solid white;
  outline: none;
  color: white;
  border-radius: 30px;
}
.box .sub:hover {
  background-color: rgb(61, 141, 222);
  border: 2px solid #2b3c78;
  transition: 0.3s;
}
